/* App.css */
.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 10px 0; /* Adjusted padding */
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
}

.navbar li {
    padding: 8px 12px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar li a:hover, .navbar li button:hover {
    background-color: #555;
}

.navbar li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        width: 100%;
        text-align: center;
    }
}