.home-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    color: #333;
    background: #f4f4f4;
}

.home-header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #2255a4;
}

p {
    font-size: 1.2rem;
    color: #666;
}

.home-nav {
    margin-top: 30px;
}

.nav-link {
    background-color: #2255a4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #1d4a8f;
}